body {
  margin: 0;
}

canvas {
  display: block;
  margin: auto;
  background-color: black;
}

.wrapper {
  margin: auto;
  width: 100%;
}

.container {
  padding-top: 25px;
}

#spritesheet {
  display: none;
}

img{
  display: none;
}